.posts {
  width: 100%;
  color: rgb(0, 0, 0);
}

.posts h3 {
  margin: 0;
  border: 1px solid #c5c29d;
  background: linear-gradient(180deg, #faf3c3 0%, #efe6b9 100%);
  text-align: center;
  padding: 3px;
  font-size: 20px;
}
.label {
  margin: 30px 30px;
  background-color: rgb(231, 231, 231);
  border: 1px solid rgb(231, 231, 231);
  display: grid;
}
.label input {
  border: none;
  padding: 10px;
  font-size: 20px;
  height: 10vh;
}

.label button {
  padding: 10px;
  width: max-content;
  font-size: 20px;
  background: linear-gradient(180deg, #194974 0%, #4f79a1 100%);
  color: #f2f2f2;
  border-radius: 5px;
}
