.posts {
  width: 100%;
  color: rgb(0, 0, 0);
}

.posts h3 {
  margin: 0;
  border: 1px solid #c5c29d;
  background: linear-gradient(180deg, #faf3c3 0%, #efe6b9 100%);
  text-align: center;
  padding: 3px;
  font-size: 20px;
}
.label {
  margin: 30px 30px;
  background-color: rgb(231, 231, 231);
  border: 1px solid rgb(231, 231, 231);
  display: grid;
}
.label input {
  border: none;
  padding: 10px;
  font-size: 20px;
  height: 10vh;
}

.label button {
  padding: 10px;
  width: max-content;
  font-size: 20px;
  background: linear-gradient(180deg, #194974 0%, #4f79a1 100%);
  color: #f2f2f2;
  border-radius: 5px;
}

.like {
  background-color: antiquewhite;
}

.ready__post {
  margin: 0 20px;
  height: 150px;
  width: 97%;
}

.ready__post li {
  overflow: hidden;
  height: 100px;
  font-size: 20px;
  font-style: inherit;
}

.ready__post article {
  display: flex;
  justify-content: space-between;
  color: #6e6e6e;
}

.ready__post p {
  color: #02166f;
  font-size: 22px;
}

.ready__post hr {
  border: 1px solid #c5c5c5;
}

.ready__post button {
  border: transparent;
}
